$font-family: "Open Sans", sans-serif;

$main-bg-color: #fffbfe;
$main-accent-color: #f2edf7;
$second-accent-color: #e8dff5;
$primary-color: #6750a4;
$primary-light: #7961bb;
$text-primary: #1f182a;
$text-secondary: #49454f;
$border-color: #79747e;
$error-color: #b3261e;
$shadow: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);

$content-width: 600px;
$mobile-breakpoint: 480px;
